@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single&display=swap");

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* ---------------- THEME ---------------- */
body {
  margin: 0;
  background: #0b0d10; /* matte film vibe */
  color: #e7e9ee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus-visible {
  outline: 2px solid rgba(255, 255, 255, 0.85);
  outline-offset: 4px;
}

::selection {
  background: rgba(255, 255, 255, 0.12);
}

* {
  text-rendering: geometricPrecision;
}

/* ---------------- HIDE DEFAULT SCROLLBAR ---------------- */


html {
  scrollbar-width: none;
}


html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}


body {
  -ms-overflow-style: none;
}

/* ---------------- CUSTOM CURSOR SYSTEM ---------------- */


html,
body,
* {
  cursor: none !important;
}


canvas {
  pointer-events: none;
}

.no-scrollbar {
  scrollbar-width: none;      
  -ms-overflow-style: none;   
}
.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}



* {
  scrollbar-width: none;
}


*::-webkit-scrollbar {
  width: 0;
  height: 0;
}
